@import "tailwindcss";

.main-con{
  /* background-color: black !important; */
  height: 100%;
  /* min-height: 100vh; */
  /* color: white !important; */
}

/* index.css or global.css */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 1 !important;
  animation: fadeInUp 0.5s ease-in-out forwards;
}


video, img{
  animation: fadeInUp 0.5s ease-in-out forwards;
}

.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
  margin-top: 1rem;
}
.my-masonry-grid_column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}



/* loaderAnimation1 */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #000000;
  animation: loaderAnimation1 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes loaderAnimation1 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}

/* loaderAnimation2 */
/* .loader {
  height: 50px;
  aspect-ratio: 2;
  border: 10px solid #000;
  box-sizing: border-box;
  background: 
    radial-gradient(farthest-side,#fff 98%,#0000) left/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) left/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) center/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) right/20px 20px,
    #000;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: loaderAnimation2 1s infinite;
}
@keyframes loaderAnimation2 {
  100%  {background-position:right,left,center,right}
} */

/* loaderAnimation3 */
/* .loader {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #000000;
  box-sizing: border-box;
  background: 
    radial-gradient(farthest-side,#fff 98%,#0000) 50%/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 50%/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 50%/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 50%/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 50%/20px 20px,
    linear-gradient(#fff 0 0) 50%/100% 10px,
    linear-gradient(#fff 0 0) 50%/10px 100%,
    #000;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: loaderAnimation3 0.8s infinite;
}
@keyframes loaderAnimation3 {
  100%  {background-position:50% -20px,-20px 50%,60px 50%,50% 60px,50%,50%,50%}
} */

/* loaderAnimation4 */
/* .loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff00;
  -webkit-text-stroke: 1px #ffffff;
  background: conic-gradient(#ffffff 0 0) 0/0% 100% no-repeat text;
  animation: loaderAnimation4 1s linear infinite;
}
.loader:before {
  content: "Loading";
}
@keyframes loaderAnimation4 {
  to{background-size: 120% 100%}
} */
